
 <form action="/bar/<%= @bar.id %>/sendmail" method="post">
 	<div class="email-subject">
    Subject:<input name="subject" type="text"></input>
  </div>
  <div class="email-body">
    Email:<input name="body" type="text"></input>
  </div>
  <div>
  <input type="submit" value="Send">
  </div>
 </form>   