<ul class="js-bar-list">
  <% @bars.each do |bar| %>
    <li data-name ="bar.bar_type"><%= bar.bar %>
        <%= link_to "Bar Page", bar_path(bar) %>
    </li>
  <% end %>


</ul>

  <form>
    <select class="js-bar-type" id="bar_type">
      <option></option>
      <option>College</option>
      <option>Club</option>
      <option >Dance</option>
      <option >Cocktail</option>
      <option >Dive</option>
    </select>

  
  <select class="js-bar-loc" id="bar_loc">
    <% Location.neighborhoods.keys.to_a.each do |loc| %>
     <option> <%= loc %> </option>
      <% end %> 
    </select>
  </form>







