<ul class="js-bar-list">
  <% @bars.each do |bar| %>
    <li data-name ="bar.bar_type"><%= bar.bar %>
    </li>
  <% end %>
</ul>


    <select class="js-bar-type" id="bar_type">
      <option></option>
      <option>College</option>
      <option>Club</option>
      <option >Dance</option>
      <option >Cocktail</option>
      <option >Dive</option>
    </select>

  <div class ="js-bar-location" id="bar_location">
  <%= form_for :location do |f| %>
      <%= f.select :bar_id , Location.neighborhoods.keys.to_a %> 
      <% end %>  
  </div>


