<div class="row">

<h1 class="center-align">Welcome to BarUp</h1>

<p class="center-align"> The World's 54th nightlife social media app</p>
</div>

<div class="row">
<div class="center-align" >
<div class="col s6 center-align">
<h2>Are you a drinker</h2>
<a class="social-icons modal-trigger" href="#modal1"> <i class="large mdi mdi-emoticon-devil"></i></a>
 <div id="modal1" class="modal modal-fixed-footer">
     <div class="modal-content">
      <h4>Drinkers</h4>
      <p>A bunch of text about how cool this website is</p>
    </div>
 
     <div class="modal-footer">
      <a href="/users/sign_in" class="modal-action modal-close waves-effect waves-green btn-flat center-align">Sign In</a>
      <a href="/users/sign_up" class="modal-action modal-close waves-effect waves-green btn-flat ">Sign Up Today</a>
      </div>
    </div>
  </div>

<div class="col s6 center-align">
<h2>Are you a bar</h2>
 <a class="social-icons modal-trigger" href="#modal2"> <i class="large mdi mdi-beer"></i></a>
 <div id="modal2" class="modal modal-fixed-footer">
     <div class="modal-content">
     
      <h4>Bars</h4>
      <p>A bunch of text about how cool this website is</p>
    </div>
 
     <div class="modal-footer">
      <a href="/bars/sign_in" class="modal-action modal-close waves-effect waves-green btn-flat center-align">Sign In</a>
      <a href="/bars/sign_up" class="modal-action modal-close waves-effect waves-green btn-flat ">Sign Up Today</a>
      </div>
    </div>
  </div>
 </div>
 </div>





