<h1>Welcome to BarUp</h1>

<p> The World's first nightlife social media app</p>

 <%= link_to "Register Your Bar", new_bar_registration_path() %>

 <%= link_to "Sign in to Your Bar", new_bar_session_path() %>

 <%= link_to "Sign in to User account",
 new_bar_session_path() %>

 <%= link_to "Sign up for a User account",
 new_bar_registration_path() %>

