// Place all the styles related to the bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.smallcard{
	width: 250px !important ;
	hieght: 250px !important ;
	float: left !important ;
	margin: 20px !important ;

}

.sidebar{
	margin: 20px !important ;

}

.scrollcol {
margin-bottom: 20px;
}