// Place all the styles related to the bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card{
	width: 200px !important ;
	height: 200px !important ;
	float: left !important ;
	margin: 20px !important ;

}

.sidebar{
	margin: 20px !important ;

}

.scrollcol {
margin-bottom: 20px;
}
.barPage {
	width: 100% !important;
}
.barHeader {
	float: left !important;
}

.barFollow {
	float: right !important;
	margin-top: 50px;
}


.email-body {
	height: 300px;
}
// .selected {
// 	background-color: orange ; 
// }

.barBtnlist {
	padding: 15px;
}

.barBtn {
	width: 250px;
}

.collapsebox {
	width: 800px;
}
